{% extends "entries/base.html" %} {% block content %}

<div class="welcome-area">
  <div class="welcome-title">
    <h1><b>Welcome to PVNet!</b></h1>
  </div>

  <div class="welcome-text">
    <p>
      PVNet is a social network made for movie enthusiasts. On this platform our users can share their amateur movie
      ideas to the world, and be open to criticism. If movies are your thing, hop right in!
    </p>
  </div>
  <div class="welcome-button">
    <a class="btn btn-primary" href="{% url 'register' %}">Sign up!</a>
  </div>
</div>

{% endblock %}