<div class="card mb-4 mt-4 com">
    <div class="comment-section">

      {% for comment in comments %}
      <div class="border border-info mb-3">
        {% if entry.entry_author == request.user or comment.comment_author == request.user %}
      <form method="POST">
        {% csrf_token %}        
        <div class="delete-button">
            <button class="button" type="submit" id="delete-comment" value="{{ comment.pk }}" onclick="return confirm('Are you sure you want to delete this?')">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
             </button>
        </div>	
      </form>	
        {% endif %}
        <div class="card-body">
          <p class="card-text"> <b><i>{{ comment.comment_text }}</i></b></p>
        </div>
        <div class="card-footer text-muted">
          Commented on {{ comment.comment_date }} by
          <a href="{% url 'profile' comment.comment_author.pk %}"><span class= "text-info mr-2">{{ comment.comment_author }}</span></a>
        </div>
      </div>
      {% endfor %}
      
      {% if error %}
      <div class="alert alert-warning" role="alert">
        {{error}}
      </div>
      {% endif %}
     

			<div class="status-upload">
				<form method="POST">
          {% csrf_token %}
					<textarea id="comment_text" placeholder="What are your thoughts on this?" ></textarea>
					<button id="comment" type="submit" value="{{ entry.pk }}" class="btn btn-primary"><i class="fa fa-share"></i> Comment</button>
				</form>
			</div><!-- Status Upload  -->
		</div><!-- Comment section -->
  </div>
